.loginBox
{
	background-color: rgba(255, 255, 255, 0.10); /* 10% opacity white */;
	border: 2px solid black;
	border-radius: 7%;
	height: 46%;
	left: 40%;
	padding: 2%;
	position: absolute;
	top: 26%;
	width: 20%;
}

.loginPage
{
	background-color: #121212;
	height: 100%;
	width: 100%;
}

.redText
{
	color: red;
}

.whiteText
{
	color: white;
}
