.errorMessage
{
	color: red;
}

.formCenteredElements
{
	text-align: center;
}

.LoginBox
{
	margin: auto;
	border: 2px solid black;
	text-align: center;
	width: 50%;
}

.LoginForm
{
	margin: 10px;
	text-align: left;
}

.LoginLogo
{
	width: 95%;
	margin: 10px;
}

